<div id="<%= dom_id item %>">
  <p>
    <strong>Sku:</strong>
    <%= item.sku %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= item.nickname %>
  </p>

  <p>
    <strong>Pide:</strong>
    <%= item.pide %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= item.inventory %>
  </p>

  <p>
    <strong>Fullfilment fee:</strong>
    <%= item.fullfilment_fee %>
  </p>

  <p>
    <strong>Unit cost:</strong>
    <%= item.unit_cost %>
  </p>

</div>
